.cawa-google-map {
    max-width: 100%;
    padding-bottom: 50%; // This is the aspect ratio
    position: relative;
    height: 0;

    &.ratio-16-9 {
        padding-bottom: 56.25%;
    }

    &.ratio-16-10 {
        padding-bottom: 62.5%;
    }

    &.ratio-1-1 {
        padding-bottom: 100%;
    }

    & > div {
        position: absolute;
        margin: 0;
        height: 100%;
        width: 100%;
    }

}
