.cawa-sidenav-menu {
    .arrow {
        &.right::after,
        &.left::before {
            content: '';
            border-top: 2px solid transparent;
            border-left: 2px solid transparent;
            display: block;
            width: 8px;
            height: 8px;
            margin: auto;
            position: absolute;
            top: 15px;
            border-color: $gray-light;
        }

        &.right::after {
            transform: rotate(135deg);
            right: 10px;
        }

        &.left::before {
            transform: rotate(-45deg);
            left: 10px;
        }
    }

    section {
        position: absolute;
        height: 100%;
        transition: transform 200ms ease;
        overflow: hidden;
        right: 0;
        width: 100%;
        transform: translateX(100%);
        background: white;
        will-change: transform;
        display: flex;
        flex-direction: column;

        &.no-transition {
            transition: none;
        }

        &.active {
            transform: translateX(0%);
        }

        h4 {
            position: relative;
            padding: 10px;
            margin: 0;
            background: $brand-primary;
            border-bottom: 1px solid $nav-tabs-border-color;

            &.arrow {
                padding-left: 25px;
            }
        }

        > div {
            overflow-y: auto;
            flex-grow: 2;

            ul {
                padding-left: 0;
                list-style: none;

                li {
                    a {
                        padding: 10px 25px 10px 25px ;
                        border-bottom: 1px solid $nav-tabs-border-color;
                        color: $text-color;
                        position: relative;
                        display: flex;
                        cursor: pointer;

                        span.title {
                            flex-grow: 2;
                        }

                        span.counter {
                            padding-left: 5px;
                        }

                        &:hover,
                        &.active,
                        &:focus {
                            text-decoration: none;
                        }

                        &.arrow::after {
                            top: calc(50% - 4px)
                        }
                    }
                }
            }
        }
    }
}
