$wizard-step-complete-bg: $state-success-bg !default;
$wizard-step-complete-text: $state-success-text !default;
$wizard-step-complete-hover-bg: saturate($state-info-bg, 5%) !default;
$wizard-step-complete-hover-text: darken($state-info-bg, 35%) !default;

$wizard-step-active-bg: $state-info-bg !default;
$wizard-step-active-text: $state-info-text !default;


.cawa-wizard {
    *zoom: 1;
    &:before,
    &:after {
        display: table;
        content: "";
        // Fixes Opera/contenteditable bug:
        // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
        line-height: 0;
    }

    &:after {
        clear: both;
    }

    border: 1px solid $nav-tabs-border-color;
    border-radius: $navbar-border-radius;
    background-color: $navbar-default-bg;
    position: relative;
    min-height: 48px;

    &.no-steps-container { // maintains backwards compatibility with < 3.8, will be removed in the future
        overflow: hidden;
    }

    .steps-container {
        border-radius: $navbar-border-radius $navbar-border-radius 0 0;
        overflow: hidden;
        position: relative;
        background-color: lighten($gray-lighter, 3%);
    }

    > ul.steps, > .steps-container > ul.steps {
        list-style: none outside none;
        padding: 0;
        margin: 0;
        width: 999999px; //using a ridiculously giant width here to allow practically infinite space for the li's to flow horizontally

        &.previous-disabled {
            li {
                &.complete {
                    cursor: default;

                    &:hover {
                        background: $gray-lighter;
                        color: $state-success-text;
                        cursor: default;

                        .chevron:before {
                            border-left-color: $gray-lighter;
                        }
                    }
                }
            }
        }

        li {
            padding: 0 20px 0 30px;
            line-height: 46px;
            float: left;
            margin: 0;
            height: 46px;
            position: relative;
            background: $gray-lighter;

            &, a {
                color: $gray;
                cursor: not-allowed;
            }

            a:hover {
                text-decoration: none;
            }

            .chevron {
                border: 24px solid transparent;
                border-left: 14px solid $nav-tabs-border-color;
                border-right: 0;
                display: block;
                position: absolute;
                right: -14px;
                top: 0;
                z-index: 1;
            }

            .chevron:before {
                border: 24px solid transparent;
                border-left: 14px solid $gray-lighter;
                border-right: 0;
                content: "";
                display: block;
                position: absolute;
                right: 1px;
                top: -24px;
            }

            &.complete, a.complete {
                background: $wizard-step-complete-bg;

                &, & a {
                    color: $wizard-step-complete-text;
                }

                &:hover {
                    background: $wizard-step-complete-hover-bg;
                    &, a {
                        color: $wizard-step-complete-hover-text;
                        cursor: pointer;

                    }

                    & .badge {
                        background: $wizard-step-complete-hover-text;
                    }

                    .chevron:before {
                        border-left: 14px solid $wizard-step-complete-hover-bg;
                    }
                }

                .chevron:before {
                    border-left: 14px solid $wizard-step-complete-bg;
                }
            }

            &.active {
                background: lighten($wizard-step-active-bg, 5%);

                &, & a {
                    color: $state-info-text;
                    cursor: default;
                }

                .chevron:before {
                    border-left: 14px solid lighten($wizard-step-active-bg, 5%);
                }

                .badge {
                    background-color: $wizard-step-active-text;
                }
            }

            .badge {
                margin-right: 8px;
            }

            .badge-success {
                background-color: $wizard-step-complete-text;
            }
        }

        li:first-child {
            border-radius: $navbar-border-radius 0 0 0;
            padding-left: 20px;
        }
    }

    > .actions {
        z-index: 1000;
        position: absolute;
        right: 0;
        top: 0;
        line-height: 46px;
        float: right;
        padding-left: 15px;
        padding-right: 15px;
        vertical-align: middle;
        background-color: $gray-lighter;
        border-left: 1px solid $nav-tabs-border-color;
        border-radius: 0 $navbar-border-radius 0 0;

        a {
            line-height: 45px;
            font-size: 12px;
            margin-right: 8px;
        }

        .btn-prev {
            &[disabled] {
                cursor: not-allowed;
            }

            span {
                margin-right: 5px;
            }
        }

        .btn-next {
            &[disabled] {
                cursor: not-allowed;
            }

            span {
                margin-left: 5px;
            }
        }
    }

    .step-content {
        border-top: 1px solid $nav-tabs-border-color;
        padding: 10px;
        float: left;
        width: 100%;

        .step-pane {
            display: none;
        }

        > .active {
            display: block;

            .btn-group {
                .active {
                    display: inline-block;
                }
            }
        }
    }

    // when complete
    &.complete {
        > .actions {
            .btn-next {
                .glyphicon {
                    display: none;
                }
            }
        }
    }

}
